body {
  padding: 0 2rem;
  margin: 2rem auto;
  max-width: 1200px;
}

textarea {
  resize: none;
  overflow: hidden;
  min-height: 75px;
  max-height: 300px;
}

@media only screen and (max-width: 700px) {
  body {
    margin: 2rem 0;
  }

  .github-link {
    display: none !important;
  }

  ul {
    padding-inline-start: 20px;
  }
}

@media only screen and (max-width: 400px) {
  body {
    padding: 0 20px;
  }

  .github-link {
    display: none !important;
  }

  .container {
    padding: 2rem 1rem;
  }
}

.container:not(:last-child) {
  margin-bottom: 1rem;
}

.center {
  text-align: center;
}

i.brand {
  margin-right: 1rem;
}

div.containers>.container {
  display: inline-block;
}

.form.container>form>.field:not(:last-child) {
  margin-bottom: 1rem;
}

.footer {
  text-align: center;
}

.credit {
  font-size: 10px;
}

a:hover {
  text-decoration: none;
}

.btn {
  margin: 0 0 20px 0;
}

.label:focus {
  border: 1px solid powderblue;
}

.spaced-list li:not(:last-child) {
  margin-bottom: 1rem;
}

.container-small {
  display: inline-block;
}


.github-link {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
  display: flex;
  height: 100px;
  color: #333;
  text-decoration: none;
}

.github-link:hover {
  text-decoration: none;
}

.github-link>p.balloon {
  align-self: flex-start;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  color: #333;
}

.github-link>i.octocat {
  align-self: flex-end;
}

.input {
  min-width: 50%;
  max-width: 100%;

}